{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Cadastro</title>
</head>

<body style="background-image: linear-gradient(to right, #283142 50%, #E39A42 50%) !important;">

    <div class="container form-signin p-4  align-content-center">

        <div class="p-2 bg-light">
            <img src="{% static 'img/Logo1.png' %}" width="331" height="95" alt="">
            <br>
            <button class="btn w-100 btn-primary mt-4 mb-2"><a href="{% url 'painel' %}"
                    style="color: #000000; text-decoration: none;">Fazer Login</a>
            </button>


        </div>


    </div>

</body>

</html>